/* ==========================
   DAILY TARGET APP
========================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

min-height:100vh;

padding:20px;

background:linear-gradient(135deg,#4F46E5,#2563EB,#06B6D4);

background-size:300% 300%;

animation:bg 10s infinite alternate;

color:white;

}

@keyframes bg{

0%{
background-position:left;
}

100%{
background-position:right;
}

}

.container{

max-width:450px;

margin:auto;

}

/* Profile */

.profile{

text-align:center;

margin-top:20px;

}

.profile img{

width:120px;

height:120px;

border-radius:50%;

object-fit:cover;

border:4px solid white;

box-shadow:0 10px 25px rgba(0,0,0,.25);

}

.profile h2{

margin-top:15px;

font-size:28px;

}

.profile p{

margin-top:6px;

opacity:.9;

}

/* Cards */

.card{

margin-top:22px;

padding:20px;

border-radius:22px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(20px);

-webkit-backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.2);

box-shadow:0 10px 25px rgba(0,0,0,.2);

}

/* Subject */

.subject{

display:flex;

justify-content:space-between;

padding:12px 0;

font-size:17px;

border-bottom:1px solid rgba(255,255,255,.15);

}

.subject:last-child{

border-bottom:none;

}

/* Buttons */

button{

width:100%;

margin-top:20px;

padding:16px;

border:none;

border-radius:18px;

font-size:17px;

font-weight:600;

background:white;

color:#2563EB;

cursor:pointer;

transition:.3s;

}

button:active{

transform:scale(.98);

}

/* Mobile */

@media(max-width:480px){

body{

padding:15px;

}

.profile img{

width:100px;

height:100px;

}

.profile h2{

font-size:24px;

}

.card{

padding:18px;

}

}















.lockScreen{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#5B5FEF,#2563EB);

z-index:99999;

}

.lockCard{

width:90%;
max-width:350px;

padding:25px;

background:rgba(255,255,255,.18);

backdrop-filter:blur(20px);

border-radius:25px;

text-align:center;

color:white;

}

.lockCard input{

width:100%;

padding:15px;

margin:20px 0;

border:none;

border-radius:12px;

outline:none;

font-size:16px;

}

.lockCard button{

width:100%;

padding:15px;

border:none;

border-radius:12px;

background:#00E676;

font-size:18px;

font-weight:bold;

cursor:pointer;

}